* {
    box-sizing: border-box;
}

body {
    background-color: #cccccc5b;
    margin: 0;
    padding: 0;
}

#header-nav {
    background-color: #ccc;
    border-radius: 0;
    border: 0;
    /* clear: both; */
    /* margin-top: -0px; */
}

.navbar-toggler {
    background-color: #fff;
}

.nav-item {
    font-size: 20px;
    font-weight: 500;
}

hr {
    align-self: center;
    width: 70%;
}
.back-to-top {
    /* position: fixed; */
    bottom: 20px;
    left: 50%;
    /* transform: translateX(-50%); */
    /* display: none; */
}
